* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    display: block;
}

//第一版
// body {
//     width: 100vw;
//     height: 100vh;
// }
// #canvas {
//     // display: block;
//     // width: 100vw;
//     // height: 100vh;
//     // border: 1px solid red;
//     // background-color: lightcoral;
// }